</main>
<footer class="main-footer">
  <div class="footer-container">
    
    <div class="footer-col">
      <h3 class="footer-logo">Owoicho <span>Fashion World</span></h3>
      <p>Premium bespoke tailoring for the modern African gentleman. Specializing in Agbada, Senator wears, and Native designs.</p>
      <div class="footer-socials">
        <a href="#"><i class="fab fa-tiktok icon-social"></i></a>
        <a  href="http://
wa.link/2jfzc2"><i class="fab fa-whatsapp icon-social"></i></a>
      </div>
    </div>

    <div class="footer-col">
      <h4>Navigation</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#explore">Collections</a></li>
        <li><a href="#contact">Book a Fitting</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Visit Us</h4>
      <p class="locationText"><i class="fas fa-map-marker-alt"></i> <%= data.location %></p>
      <p class="number"><i class="fas fa-phone"></i>  <%= data.number %></p>
      <p class="email"><i class="fas fa-envelope"></i> <%= data.email %></p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; <%= new Date().getFullYear() %> Owoicho Fashion World. All Rights Reserved. </p>

    <p style="font-size: 14px; margin-top: 5px;">Create by <a href="#" style="color: #8ac296;">DevbyNosa</a></p>
  </div>

  
</footer>