<%- include('partials/adminHeader')%>
   
    <div class="sidebar">
    
        <div class="frontend-settings">
          <p>Maintenance Mode Settings</p>
        </div>
   

    <main class="main-content">
        <div class="content">
            <h2 style="font-size: 24px;margin-bottom: 10px; ">Toggle Maintenance Mode</h2>
            <form style="display: flex; flex-direction: column; gap: 5px; width: 95%; margin-left: auto; margin-right: auto;" action="/backend/maintenance" method="POST">
                <label for="mode">Maintenance Mode:</label>
                <select style="padding: 10px; border-radius: 10px; border: 1.5px solid #04896a; outline: none; width: fit-content; margin-top: 10px;" name="mode" id="mode">
                    <option value="off" <%= !data.maintenance_mode ? 'selected' : '' %>>Off</option>
                    <option value="on" <%= data.maintenance_mode ? 'selected' : '' %>>On</option>
                </select>
                <br><br>
                <label for="message">Message:</label>
                <textarea name="message" id="message" placeholder="Maintenance message" style="height: 100px; padding: 10px;"><%= data.maintenance_message || '' %></textarea>
                <br><br>
                <button type="submit" class="btn btn-primary" style="margin-top: -30px;">Update</button>
            </form>
            <br>
            <a style="margin-top: 20px;" href="/backend/dashboard">Back to Dashboard</a>
        </div>
    </main>
     </div>

<script src="/js/admin.js"></script>
<script src="/js/adminstyle.js"></script>
</body>
</html>