h1 { font-size: 4.8rem;}
h2 {font-size: 4rem;}
h3 {font-size: 3.4rem;};
h4 {font-size: 2.8rem;}
h5 {font-size: 2.4rem;}
h6 {font-size: 2rem;}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  font-size: var(--font-size);
  padding: var(--padding-x-y);
 color: var(--text-light);
 border-radius: 0.8rem;
 border: none;
 font-weight: 600;
 cursor: pointer;
 transition: 1s;
 
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
 color: var(--tetiary-color);
 
}

.btn:hover {
  background-color: var(--primary-color);
  color: white;
  transform: translateY(-5%);
}

.btn-primary-hero {
 align-self: flex-start;
}

.btn-primary-hero:hover {
  background-color: #02a96f;
  box-shadow: 1px 2px 2px #028658;
}

.contact-btn {
  background-color: #036e48;
  margin: 0 auto;
  padding: 1.8rem 3rem;
}

.about-h2 {
  text-align: center;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}