.top-nav {
  background-color: var(--text-light);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2%; 
  height: 80px;
  z-index: 1000;
}

.logo-img {
  width: 6rem;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  margin-right: 3rem;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.top-nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
  margin-right: 2rem;
  font-family: 'Poppins', sans-serif;
}

.top-nav a:hover {
  color: var(--secondary-color);
}

#sidebar-active, .open-sidebar-btn, .close-sidebar-btn {
  display: none;
}


@media(max-width: 750px) {
  .open-sidebar-btn {
    display: block;
    cursor: pointer;
  }

  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%; 
    width: 70%;
    height: 100vh;
    background-color: var(--text-light);
    transition: 0.5s ease-in-out;
    padding-top: 80px; 
    z-index: 1001;
    
  }

  
  .logo-img {
    display: block; 
    width: 5rem;
  }

  .top-nav a {
    width: 100%;
    padding: 2rem;

  }

  .close-sidebar-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

 
  #sidebar-active:checked ~ #overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); 
    z-index: 500;
  }

  
}